* {
	font-family:  Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
div {
	
}
#all {
	width:100%;
}
.header{
	font-size: 125%;
	color: yellow;
	background-color: green;
	width:25%;
	text-align: center;
	position: relative;
	float: right;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
#kolumna1{
	border: 1px solid black;
	float:left;
	font-size: 100%;
	background-color: #494949;
	color: white;
}
.col_lg_3 {
	width: 33.33%;
}
header {
	margin-top: 25px;
	font-size: 175%;
	text-align: center;
	margin-bottom: 30px;

}